@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 375px) and (max-width: 640px) {
  .container {
    max-width: 375px;
  }
}
